@model IEnumerable<sonmarket.Models.Promocao>
@{
    Layout = "_LayoutAdmin";
}
<script>
        $(document).ready( function () {
            $('#promocoes').DataTable({

                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado, desculpa!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
<h2>Promoções</h2>
<hr />
<a asp-action="NovaPromocao" asp-controller="Gestao" class="btn btn-success">Criar nova promoção</a>
<hr />

<table id="promocoes" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Produto</th>
                <th>Porcentagem</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var promocao in Model)
            {
                <tr>
                    <td>@promocao.Id</td>
                    <td>@promocao.Nome</td>
                    <td>@promocao.Produto.Nome</td>
                    <td>@promocao.Porcentagem%</td>
                    <td>
                        <a class="btn btn-primary" href="/Gestao/EditarPromocao/@promocao.Id">Editar</a>
                        <form style="display: inline;" asp-controller="Promocoes" asp-action="Deletar">
                            <input type="hidden" name="id" id="id" value="@promocao.Id">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>